@media (max-width: 1260px) {
    .info_item {
        padding: 30px;
    }
   
    .info_title {
        font-size: 16px;
    }

    .info_text {
        font-size: 14px;
    }
}

@media (max-width: 1080px) {
    .info_title {
        letter-spacing: unset;
    }

    .about_block {
        padding-right: 30px;
    }

}

@media (max-width: 992px) {
    .logo img {
        height: 55px;
    }
   
    .section {
        margin-bottom: 30px;
    }

    .intro_content {
        height: 435px;
        justify-content: center;
    }

    .intro_title {
        font-size: 34px;
        text-align: center;
    }

    
    .intro_block {
        text-align: center;
    }

    .info_item {
        padding: 20px;
    }

    .servises_content {
        height: 400px;
    }

    .about_wrapper {
        flex-direction: column;
    }

    .about_block {
        padding-right: 0;
        margin-bottom: 25px;
    }


    .about {
        padding: 30px 0;
    }

    .process_title {
        margin-bottom: 12px;
        font-size: 100px;
    }

    .process_subtitle {
        margin-bottom: 30px;
    }

    .section.process {
        padding-top: 0px;
    }

    .process_item {
        text-align: center;
        min-height: auto;
        padding: 20px 0 12px;
    }

    .about_text {
        text-align: justify;
        margin: 20px 0 30px;
    }

    .servises_content-item {
        background: none;
    }
}

@media (max-width: 883px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .servises_img {
        width: 408px;
    }

    .block {
        width: 100%;
        margin-bottom: 20px;
    }

    .info {
        transform: translateY(-70px);
    }

    .info_item {
        text-align: center;
    }

    .servises_content {
        height: 440px;
        background-position: center;
    }

    .block_title {
        text-align: center;
        font-size: 32px;
    }

    .block_link {
        display: flex;
        justify-content: center;
    }

    .contacts_form {
        margin: 0 auto;
    }

}

@media(max-width: 768px) {
    .nav {
        display: none;
    }
}

@media (max-width: 560px) {
    .servises_content {
        height: 300px;
    }

    .logo img {
        height: 45px;
    }

    .process_title {
        font-size: 72px;
    }

    .process_subtitle {
        font-size: 29px;
    }

    .footer_wrapper {
        height: auto;
        padding: 30px 0;
        flex-direction: column;
    }
    
    .footer_soc-link {
        margin-right: 23px;
    }

    .copyright {
        margin-bottom: 18px;
    }

    .title {
        font-size: 36px;
    }

    .text {
        font-size: 15px;
    }

    .about_img {
        width: 430px;
    }

}

@media (max-width:460px) {
    .block_title {
        font-size: 24px;
    }

    .about_img {
        width: 400px;
    }

    .about_link {
        font-size: 18px;
    }

}

@media (max-width:357px) {
    .form_row {
        margin: 0 -10px;
        flex-direction: column;
    }

    .form_group {
        padding: 0 10px;
    }
}

@media (max-width:430px) {
    .title {
        font-size: 27px;
    }

    .about_img {
        width: 300px;
        height: 300px;
    }

    .about_text {
        font-size: 13px;
    }

    .copyright {
        text-align: center;
    }
}